@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,700;0,900;1,200&display=swap');

:root {
    --bg-color-container: rgb(38 38 38);
    --bg-color-icons: rgb(64 64 64);
    --text-color: rgb(209 213 219);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* --------- Login Css --------- */
.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    padding: 2rem 0 4rem 0;
}

.login-logo {
    text-align: center;
}

.login-logo-img {
    width: 180px;
    height: 40px;
    object-fit: cover;
}

.login-header {
    padding: 1rem;
    text-align: center;
}

.login-card {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.login-card-container {
    margin: 0 0.5rem;
    position: relative;
    width: 160px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    transition: 150ms ease-in;
    border-radius: 10px;
    cursor: pointer;
}

.login-card-container:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.login-card-info {
    display: block;
    padding: 0.5rem;
    text-align: center;
}

.login-card-close {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgba(54, 54, 54, 0.2);
}

.login-card-container:hover #close-show {
    display: none;
}

.login-card-close-hover {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

#close-hide {
    display: none;
}

.login-card-container:hover #close-hide {
    display: flex;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.login-form-input {
    margin: 5px 0;
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 17px;
    color: #1d2129;
    background: rgb(248 250 252);
    border: 1px solid #dddfe2;
    border-radius: 6px;
    outline: none;
}

.login-form-input:focus::placeholder {
    color: rgb(156 163 175);
}

.login-form-input:focus {
    outline: 1px solid rgb(59 130 246);
}

.login-form-btn {
    width: 100%;
    padding: 0.5rem 0.8rem;
    background-color: rgb(37 99 235);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

.login-form-forgot {
    margin: 1rem 0;
    color: rgb(59 130 246);
    font-size: 14px;
}

.login-form-new {
    padding: 0.8rem 1rem;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    border: none;
    outline: none;
    background-color: rgb(34 197 94);
    border-radius: 6px;
    cursor: pointer;
    transition: 100ms ease-in;
}

.login-form-new:hover {
    background-color: rgb(22 163 74);
}

.login-footer {
    background-color: #fff;
    padding: 1.5rem 2rem;
    font-size: 12px;
    color: rgb(156 163 175);
}

/* --------- Login Css --------- */

/* --------- Sign up Css --------- */
#signup {
    display: none;
}

.sign-up-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .6);
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.sign-up-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-up-form-container {
    position: relative;
    width: 470px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.sign-up-close {
    position: absolute;
    top: 10px;
    right: 18px;
}

.sign-up-input {
    width: 100%;
    padding: 0.5rem 0.8rem;
    font-size: 15px;
    background: rgb(248 250 252);
    border: 1px solid #dddfe2;
    border-radius: 5px;
    outline: none;
}

.sign-up-input::placeholder {
    color: rgb(156 163 175);
}

.select-date {
    display: flex;
}

.select-date>select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #dddfe2;
    outline: none;
    border-radius: 3px;
}

.select-gender {
    display: flex;
}

.sign-up-gender-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #dddfe2;
    outline: none;
    border-radius: 3px;

}

.privacy-link {
    color: rgb(37 99 235);
    cursor: pointer;
}

.privacy-link:hover {
    text-decoration: underline;
}

.sign-up-btn-container {
    margin: 1rem 0;
    text-align: center;
}

.sign-up-btn {
    padding: 0.5rem 4rem;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(34 197 94);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

/* --------- Sign up Css --------- */
/* --------- home container --------- */
.home-content-layout {
    position: relative;
}

/* --------- Navbar Home --------- */
.navbar-home {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-container);
    padding: 0.5rem;
}

.navbar-home-ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-home-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color-icons);
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50px;
    margin: 0 0.3rem;
    cursor: pointer;
}

.navbar-home-li:hover {
    background: rgba(64, 64, 64, 0.8);
}

.navbar-home-li-desktop {
    display: none;
}

.navbar-menu-profile {
    position: absolute;
    top: 2.8rem;
    right: 20%;
    background: var(--bg-color-container);
    width: 320px;
    border-radius: 10px;
    padding: 1rem;
}

.menu-profile {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0.5rem 0.3rem;
    cursor: pointer;
}

.menu-profile:hover {
    background: rgba(64, 64, 64, 0.8);
    border-radius: 5px;

}

.menu-profile-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 18px;
    background-color: var(--bg-color-icons);
    color: var(--text-color);
    border-radius: 50px;
}

.menu-profile-text {
    margin-left: 0.5rem;
    font-weight: 500;
    color: var(--text-color);
}

/* --------- Navbar Home --------- */
/* --------- Video Card --------- */
.video-card-btn-container {
    position: absolute;
    top: 125px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 4;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.video-card-btn {
    background-color: var(--bg-color-icons);
    color: var(--text-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

/* #video-card-btn-left {
    visibility: hidden;
} */

.video-card-container {
    display: flex;
    overflow: hidden;
}

.video-card {
    position: relative;
    width: 148px;
    height: 250px;
    background-color: var(--bg-color-container);
    border-radius: 10px;
    margin-right: 0.5rem;
    cursor: pointer;
}

.video-card:nth-child(5) {
    display: none;
}

/* Card create story */
.create-story-icon-outline {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color-container);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 3;
}

.create-story-icon-inline {
    background-color: #0866FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 100%;
}

.create-story-img {
    width: 148px;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    filter: brightness(80%);
}

.create-story-img:hover {
    filter: brightness(70%);
}

.create-story-text {
    position: absolute;
    bottom: 3%;
    left: 23%;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

/* Card create story */
.video-card-img {
    width: 148px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

.video-card-img:hover {
    filter: brightness(70%);
}

.video-card-text {
    position: absolute;
    bottom: 3%;
    left: 8%;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

/* --------- Video Card --------- */
/* --------- Search bars --------- */
.search-container {
    margin-top: 1.5rem;
    background-color: var(--bg-color-container);
    border-radius: 10px;
    padding: 1rem;
}

.search-bar-input {
    width: 100%;
    border-radius: 30px;
    padding: 0.55rem 1rem;
    outline: none;
    border: none;
    background-color: var(--bg-color-icons);
    font-size: 15px;
    cursor: pointer;
}

.search-bar-input::placeholder {
    color: var(--text-color);
}

.search-bar-icons {
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
    background: transparent;
}

.search-bar-icons:hover {
    background: var(--bg-color-icons);
}

/* --------- Search bars --------- */

/* --------- Content --------- */
.content-container {
    background-color: var(--bg-color-container);
    border-radius: 10px;
    color: var(--text-color);
}

.top-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.3rem 0;
}

#subText-content {
    display: none;
}

.show-more {
    cursor: pointer;
}

.show-more:hover {
    text-decoration: underline;
}

.footer-content-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.footer-content-btn-container {
    display: flex;
    justify-content: space-around;
    margin: 0.3rem 0;
}

.footer-content-btn {
    width: 100%;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    text-align: center;
    background: transparent;
    cursor: pointer;
}

.footer-content-btn:hover {

    background: var(--bg-color-icons);
}

.footer-content-btn:nth-child(2) {
    margin: 0 0.5rem;
}

.footer-content-comments-input {
    margin-left: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;
    width: 100%;
    border-radius: 30px;
    background-color: var(--bg-color-icons);

}

.footer-content-comments-input::placeholder {
    color: var(--text-color);
}

.footer-content-comments-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: transparent;
    border-radius: 100%;
    cursor: pointer;
}

.footer-content-comments-icons:hover {
    background: rgba(38, 38, 38, 0.3);
}

/* --------- Content --------- */

/* Media Querie */
@media (min-width: 554px) {
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .video-card-btn-container {
        top: 200px;
    }

    .home-content-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-conent-container {
        max-width: 550px;
    }
}

@media (min-width: 700px) {
    .navbar-home-li-desktop {
        display: block;
        color: var(--text-color);
        padding: 0.5rem;
        margin: 0 0.8rem;
        font-size: 22px;
        cursor: pointer;
    }

    .navbar-home-li-desktop:hover {
        color: #0866FF;
    }
}

@media (min-width: 768px) {
    .login-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .login-logo {
        text-align: left;
    }

    .login-header {
        padding: 1rem 0;
        text-align: left;
    }

    .login-card {
        justify-content: left;
    }

    .login-card-container {
        margin: 0 1rem 0 0;
    }

    .login-form {
        padding: 3rem 0;
    }


}

@media (min-width: 1024px) {
    .login-container {
        justify-content: space-evenly;
    }
}